body{
  background-color: #5b2d08;
  margin:0;
  padding:0;
  font-family: sans-serif;
}

ul{
  background: #ff3721;
  margin:0;
}

li{
  display:inline-block;
  padding: 20px;
  list-style: none;
}

#inicio{
  padding-left: 100px;
}

a{
  color:whitesmoke;
  padding: 10px;
}

a:hover {
  color:black;
}

.fotos{
  margin:20px 20px;
  border:2px solid #6d6b6b;
  height: 200px;
}

div{
  display:inline-block;
  position: relative;
}

section.panel{
  padding-left: 130px;
}

span{
  position: absolute;
  top: 30px;
  left: 25px;
  color:whitesmoke;
  cursor: pointer;
}

.nav{
  width: 100%;
  margin:20px;
  padding-left: 130px;
}

.boton{
  display: inline-block;
  width: 350px;
  padding: 1px;
  color:whitesmoke;
  text-align: center;
  background-color:#ff3721;
  font-size: 20px;
  cursor: pointer;
}

.historia{
  display:inline-block;
  width: 40%;
  padding-left: 130px;
  text-align: justify;
  color:whitesmoke;
  visibility: visible;
}

.origen{
  display:inline-block;
  width: 40%;
  padding-left:30px;
  text-align: justify;
  color:whitesmoke;
  visibility: visible;
}
